@use '_reset.scss';
@use '_vars.scss';
@use 'loading.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Sono:wght@200;600&display=swap');

html, body {
  position: relative;
  width: 100%;
  min-height: calc(100vh - vars.$header-height);
  background-color: vars.$d-gray;
  font-family: vars.$font-body;
  font-weight: vars.$reg;
  font-size: 14px;
  text-align: left;
  color: vars.$l-gray;
}

#root {
  width: 100%;

  &.is-fixed {
    position: fixed;
    overflow: hidden;
  }
}

.is-fixed {
  position: fixed;
  overflow: hidden;
}

.frame {
  box-sizing: border-box;
  height: 100%;
  padding: 0 30px;
  width: 100%;
  max-width: vars.$bp-large;
  margin: 0 auto;

  @media screen and (max-width: vars.$bp-mobile-sm) {
    padding: 0 10px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: vars.$font-header;
  font-weight: vars.$light;
  text-transform: uppercase;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 50px;
  line-height: 50px;
  margin-top: -5px;

  span {
    color: vars.$gray;
    font-weight: vars.$light;
  }

  @media screen and (max-width: vars.$bp-mobile) {
    font-size: 35px;
    line-height: 35px;
    margin-top: -2px;
  }

  @media screen and (max-width: vars.$bp-mobile-sm) {
    font-size: 25px;
    line-height: 25px;
    margin-top: -2px;
  }
}

h3 {
  font-size: 25px;
  margin-bottom: 20px;
}

h4 {
  font-size: 20px;
  line-height: 24px;
  color: vars.$blue;
}

h5 {
  font-size: 18px;
  text-transform: none;
}

img {
  display: block;
}

header {
  position: sticky;
  top: 0;
  left: 0;
  height: vars.$header-height;
  width: 100%;
  color: vars.$l-gray;
  background-color: vars.$black;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    color: vars.$l-gray;
    font-size: 18px;

    span {
      color: vars.$blue;
    }
  }

  a {
    text-decoration: none;
  }
}

label {
  margin-right: 10px;
}

select {
  appearance: none;
  border: 1px solid vars.$black;
  padding: 5px;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  cursor: pointer;
  background-color: transparent;
  background-image: url('../img/icon-down.svg');
  background-position: right 5px center;
  background-repeat: no-repeat;
  background-size: 10px;

  &:hover {
    border: 1px solid vars.$d-gray;
  }
}

option {
  color: vars.$black;

  &:hover {
    background-color: vars.$blue;
  }
}

.btn-menu {
  position: relative;
  width: 50px;
  height: 50px;
  cursor: pointer;
    
  span {
    display: block;
    position: absolute;
    height: 2px;
    width: 20px;
    background: vars.$l-gray;
    left: 15px;

    @include vars.transform(rotate(0deg));
    transition: 75ms ease-in-out;

    &:nth-child(1) {
      top: 17px;
    }

    &:nth-child(2) {
      top: 24px;
    }

    &:nth-child(3) {
      top: 31px;
    }

    &:nth-child(4) {
      top: 38px;
      display: none;
    }
  }

  &.is-active {
    span:nth-child(1), span:nth-child(4) {
      top: 15px;
      width: 0;
      left: 50%;
    }

    span:nth-child(2) {
      @include vars.transform(rotate(45deg));
      width: 20px;
      left: 15px;
    }

    span:nth-child(3) {
      @include vars.transform(rotate(-45deg));
      top: 24px;
      width: 20px;
      left: 15px;
    }
  }
}

a {
  text-decoration: underline;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  gap: vars.$box-margin;
}

button {
  @extend .no-select;
  position: relative;
  color: vars.$l-gray;
  font-size: 16px;
  text-align: center;
  border: none;
  cursor: pointer;
}

p, pre, code {
  margin: 10px 0;
  font-family: vars.$font-body;
  font-weight: vars.$ex-light;
  font-size: 16px;
}

strong {
  font-weight: vars.$reg;
}

.logo {
  padding: 0 15px 0 30px;
  background-position: left center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../img/logo.png');

  &.home {
    @extend .no-text;
    @extend .center;
    padding: 0;
    background-position: center;
    background-size: contain;
    width: 100%;
    max-width: 250px;
    min-height: 250px;
  }
}

audio {
  width: 100%;
}

#container { 
  // margin-top: vars.$header-height;
  min-width: 320px;
}

.row {
  margin: 30px 0;
}

.btn-clear, .btn-close {
  @extend .no-text;
  width: 30px;
  height: 30px;
  padding: 0;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 11;
}

.btn-clear {
  background-image: url('../img/icon-clear.svg');
}

.btn-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background-image: url('../img/icon-close.svg');
}

.btn-delete {
  border: 1px solid vars.$gray;
  padding: 4px 8px;

  &:hover {
    background-color: vars.$d-gray;
  }
}

/* ----- HOME BROWSE VIEW ----- */

#page-home {
  // height: calc(100vh - vars.$header-height);
  // overflow: hidden;
}

#side-panel {
  @extend .no-select;
  position: fixed;
  top: vars.$header-height;
  bottom: 0;
  left: -300px;
  width: 300px;
  background-color: vars.$d-gray;
  z-index: 10;
  box-shadow: 0 10px 12px -6px vars.$black, 0 -6px 6px 0 vars.$shadow;
  transition: left 150ms ease-out;

  &.is-open {
    left: 0;

    @media screen and (max-width: vars.$bp-mobile-sm) {
      width: 100%;
    }
  }

  .heading {
    margin: 5px;
    padding: 5px;
    color: vars.$blue;
    border-bottom: 1px solid vars.$blue;
  }
}

#query {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: vars.$m-gray;
  height: 50px;

  input {
    width: 100%;
    height: 100%;
    padding-right: 10px;
    font-size: 18px;
  }
}

#buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-shadow: 0 -6px 6px 0 vars.$shadow;

  button {
    @extend .no-text;
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
    cursor: pointer;
    opacity: 0.2;

    &:hover {
      opacity: 1;
    }
  }

  .btn-import {
    background-image: url('../img/icon-import.svg');
  }

  .btn-random-media {
    background-image: url('../img/icon-random.svg');
  }

  .btn-clear-cache {
    background-image: url('../img/icon-refresh.svg');
  }

  .btn-dupes {
    background-image: url('../img/icon-dupes.svg');
    background-size: 18px;
  }

  .btn-filter-mode {
    // background-size: 18px;

    &.or {
      background-image: url('../img/icon-or.svg');
    }

    &.and {
      background-image: url('../img/icon-and.svg');
    }
  }
}

#filter-list {
  position: relative;
  top: 50px;
  height: calc(100% - 90px);
  overflow-y: auto;
  padding-bottom: 100px;

  li {
    font-size: 20px;
    font-weight: vars.$light;
  }

  h4 {
    margin-top: 20px;
    background-color: vars.$black;
    color: vars.$white;
    padding-left: 10px;
    line-height: 34px;
    position: sticky;
    top: 0;
  }

  a {
    display: block;
    text-decoration: none;
  }

  .artist-group {
    &:first-child h4 {
      margin-top: 0;
    }

    li {
      padding: 4px 10px;

      &.is-current {
        color: vars.$blue;
      }
    }
  }
}

.toggle {
  padding: 5px 0 5px 20px;
  cursor: pointer;

  &.is-active {
    background-color: vars.$blue;
    color: vars.$black;
  }
}

@media screen and (max-width: vars.$bp-mobile) {
  #side-panel {
    .heading, .toggle {
      font-size: 22px;
    }
  }

  #query {
    padding: 15px;
    height: 70px;

    input {
      font-size: 22px;
    }
  }

  #filter-list {
    top: 70px;
    height: calc(100% - 110px);
  }
}

#main-panel {
  // position: fixed;
  // top: vars.$header-height;
  // right: 0;
  // bottom: 0;
  // left: 0;
  // overflow-y: auto;
  position: relative;
  min-height: calc(100vh - 50px);
  padding: 0 0 70px 0;
  transition: margin-left 150ms ease-out;
  text-align: center;

  &.is-open {
    margin-left: 300px;
  }

  @media screen and (max-width: vars.$bp-mobile-sm) {
    &.is-open {
      margin-left: 0;
    }
  }
}

/* ----- MODAL ----- */

#modal {
  @extend .center;
  position: fixed;
  background-color: vars.$black;
  padding: 30px;
  max-height: 80vh;
  min-width: 500px;
  overflow-y: auto;
  z-index: 21;

  .media {
    margin-bottom: 20px;
  }

  @media screen and (max-width: 550px) {
    width: 100%;
    height: 100%;
    min-width: auto;
    max-height: unset;
  }
}

#modal-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: vars.$black80;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
}

.track-list {
  margin-top: 20px;
}

.track {
  display: flex;
  gap: 10px;
  position: relative;
  font-family: vars.$font-mono;
  font-size: 16px;
  color: vars.$white;
  letter-spacing: -1px;
  // border-bottom: 1px solid vars.$m-gray;
  padding: 5px;
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 2px center;

  &.heading {
    background-color: vars.$blue;
    color: vars.$black;
    font-weight: vars.$bold;
    margin: 20px 0 10px 0;
  }
}

// meta album cover
.cover {
  position: relative;
  width: 100%;
  max-width: 250px;
  min-height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;

  img {
    width: 100%;
  }

  &.small {
    background-color: vars.$black;
    background-size: 50%;
  }
}

#release-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#toggle-wantlist {
  padding-left: 22px;
  background-position: left center;
  background-size: 14px;
  background-repeat: no-repeat;
  background-image: url('../img/icon-checkbox-unchecked.svg');
  cursor: pointer;

  &.is-active {
    background-image: url('../img/icon-checkbox-checked.svg');
  }
}

#utility-bar {
  position: sticky;
  top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-size: 16px;
  font-weight: vars.$reg;
  text-align: left;
  height: 50px;
  padding: 0 20px;
  z-index: 9;
  background-color: vars.$d-gray;
  box-shadow: 0 10px 12px -6px vars.$shadow
}

#result-count {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.media-list {
  @extend .flex;
  max-width: vars.$bp-xlarge;
  padding: 20px 20px 0 20px;
}

.media {
  position: relative;
  width: 160px;
  font-size: 12px;
  text-align: center;

  &.large {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;

    .details {
      text-align: left;
      font-size: 16px;
      line-height: 24px;
    }

    @media screen and (max-width: 550px) {
      flex-direction: column;
    }
  }

  .link-info, .link-import, .link-checked {
    @extend .no-text;
    display: inline-block;
    cursor: pointer;
    width: 25px;
    height: 25px;
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    background-image: url('../img/icon-link.svg');

    &:hover {
      text-decoration: underline;
    }
  }

  .link-import {
    background-image: url('../img/icon-import.svg');
    background-size: 18px;
  }

  .link-checked {
    background-image: url('../img/icon-success.svg');
  }

  img {
    width: 100%;
  }

  .title {
    margin-top: 10px;
  }

  .artist {
    color: vars.$blue;
  }

  @media screen and (max-width: vars.$bp-mobile-sm) {
    @include vars.boxWidth(50);
  }
}

.context-menu {
  position: absolute;
  top: 0;
  left: 0;
  background-color: vars.$black;
  padding: 10px;
}

#error-message {
  @extend .center-x;
  top: 50px;
  color: vars.$black;
  width: 300px;
  background-color: vars.$blue;
  padding: 30px;
  box-shadow: 0 10px 12px -6px vars.$shadow, 0 -6px 6px 0 vars.$shadow;
  z-index: 30;
}

.button {
  @extend .no-select;
  cursor: pointer;
}

#success {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  pointer-events: none;

  .icon {
    opacity: 0;
    width: 300px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('../img/icon-success.svg');
    background-position: center;
    animation: zoom-in-zoom-out 750ms ease-out;
  }
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.25, 0.25);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}

/* ------ IMPORT MODAL ----- */

.import-modal {
  input {
    background-color: vars.$m-gray;
    padding: 10px;
    font-size: 18px;
    margin-right: 20px;
  }
}

#load-more {
  width: 100%;
}

.dropdown {
  @extend .no-select;
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: nowrap;
  z-index: 5;
  min-width: 120px;

  &.is-active {
    z-index: 6;
  }

  .dropdown-trigger {
    width: 100%;
    height: vars.$select-height;
    line-height: vars.$select-height;
    border: 1px solid vars.$black;
    padding: 0 30px 0 6px;
    background: url(../img/icon-down.svg) center right 10px no-repeat vars.$white;
    background-size: 15px;
    color: vars.$black;
  }

  .dropdown-list {
    position: absolute;
    width: 100%;
    top: vars.$select-height;
    left: 0;
    border: 1px solid vars.$black;
    border-top: none;
    color: vars.$black;
    background-color: vars.$white;
    max-height: 300px;
    overflow-y: auto;

    input {
      position: sticky;
      top: 0;
      left: 0;
      width: 100%;
      border: none;
      border-bottom: 1px solid vars.$gray;
      margin: 0;
    }

    li {
      height: vars.$select-height;
      line-height: vars.$select-height;
      padding: 0 6px;
      overflow-x: hidden;
      text-overflow: ellipsis;

      &:hover {
        background-color: vars.$l-gray;
      }

      &.is-active {
        background-color: vars.$gray;
        color: vars.$white;
      }
    }
  }
}